*{
    box-sizing:border-box;

}
body,html{
    margin:0;
    background:lightgreen;
    height:1000px;
    font-family:Calibri,sans-serif;
    font-size:16px;
    line-height:18px;
    color:#000;
}
header{
    height:60px;
    background-color:rgba(0,0,0,.1)
}
header span{
    padding-left:20px;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    line-height:60px;
}
.lists{
    height:100%;
    padding:20px 10px;
}
.lists--content{
    display:inline-block;
    vertical-align:top;
    width:300px;
    height:100%;
    margin:0 10px;
}
.lists--list_wrapper{
    background-color:#eee;
    border-radius:6px;
    cursor:pointer;
}
.lists--list_wrapper-name{
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    position:relative;
}
.lists--list_wrapper-cards{
    padding:10px 20px 20px;
}
.lists--list_wrapper-cards a{
    display:block;
    margin-bottom:10px;
    padding:10px;
    background-color:#fff;
    border-radius:6px;
}
.lists--list_wrapper-cards a:last-child{
    margin-bottom:0;
}
.lists--list_wrapper-name_close{
    width: 20px;
    height: 20px;
    background-color:#ccc;
    cursor:pointer;
    float:right;
}
.drag-block{
    position:absolute;
    z-index:1000;
}


p{
    height:30px;
}
.dv1 { width:200px; background-color:#eff7ff; border:1px solid #96c2f1; position:absolute; left:100px; top:100px; }
.dv1 h2 { background-color:#b2d3f5; padding:5px; font-family:Georgia, "Times New Roman", Times, serif; font-size:1.0em; text-transform:uppercase; font-weight:bold; color:#3a424a; margin:1px; cursor:move; }
.dv1 div { padding:5px; margin-bottom:10px; }
.dv2 { background-color:#f6ebfb; border:1px solid #a36fde; width:550px; position:absolute; cursor:move; left:400px; top:230px; }
.dv2 h2 { background-color:#eacfe9; letter-spacing:-0.09em; font-size:1.8em; font-weight: bold; padding:15px; margin:1px; color:#241f24; cursor:move; }
.dv2 .content2 { padding:5px; margin-bottom:10px; }